***ESTE NOTEBOOK TEM COMO OBJETIVO SERVIR DE BASE PARA CRIAÇÃO DE UMA FERRAMENTE DE SEPARAÇÃO E CONVERSÃO DE ARQUIVOS DE E PARA XLSX*** <br>
Alguns pontos devem ser ressaltados: 
- Jupyter é uma ferramente de geração de relatório que compila códigos por células, suporta R Python Julia e outras n linguagens
- Cade célula deve ser executada em ordem top-down para a correta utilização do programa
- Os arquivos de separação e conversão devem estar dentro da mesma pasta do relatório, ou então devem ser especificados precedidos do diretório. Exemplo: "/home/docs/file.xlsx"

In [22]:
#importando bibliotecas necessárias 
import numpy as np
import pandas as pd
import math

In [4]:
#lendo as base de dados de dentro da pasta
acidentes = pd.read_excel('ACIDENTES_2015.xlsx')
fiscalizacoes = pd.read_csv('Ofuscado_2015-12-11_sex_A.csv')

In [9]:
#substituir 'nomes' pelos nomes especificados no documento referente a base de dados de fiscalizacoes
fiscalizacoes.columns = ['nome1','nome2','nome3','nome4','nome5','nome6','nome7','nome8','nome9']
fiscalizacoes.head()

   nome1       nome2     nome3  nome4  nome5  nome6  nome7  nome8 nome9
0  AT007  2015-12-11  00:00:30      1     60   50.0    3.8      2   NaN
1  AT007  2015-12-11  00:01:12      2     60   51.0    3.1      2   NaN
2  AT007  2015-12-11  00:01:25      2     60   49.0    4.2      2   NaN
3  AT007  2015-12-11  00:01:54      2     60   48.0    3.2      2   NaN
4  AT007  2015-12-11  00:02:11      2     60   48.0    3.4      2   NaN

In [61]:
print('Número de linhas do dataframe FISCALIZACOES = {}'.format(len(fiscalizacoes[:])))
print('Número de linhas do dataframe ACIDENTES     = {}'.format(len(acidentes[:])))

Número de linhas do dataframe FISCALIZACOES = 1168591
Número de linhas do dataframe ACIDENTES     = 23534

***AS FUNÇÕES ABAIXO SÃO O CORE DO DOCUMENTO, DESCREVENDO:***
- Função create_xlsx cria um arquivo excel recebendo como parâmetro a base de dados e o nome do arquivo
- Função separar_doc gera uma rotina que separa uma base de dados em documentos de tamanhos iguais. Esta recebe como parâmetros a base de dados, a quantidade de documentos a ser gerado(padrao 2) e o nome do arquivo(padrao file)

In [60]:
def create_xlsx(dataframe, nome):
    formato = 'xlsx'
    arquivo = '{}.{}'.format(nome, formato)
    writer = pd.ExcelWriter(arquivo, engine='xlsxwriter')
    dataframe.to_excel(writer, sheet_name='base_dados')
    print("Arquivo {} criado com sucesso! Número de linhas: {}".format(arquivo, len(dataframe[:])))
    
def separar_doc(dataframe, quantidade_docs=2, nome='file'):
    linhas  = math.ceil(len(dataframe[:])/quantidade_docs)
    begin_index = 0
    end_index = linhas
    for i in range(quantidade_docs):
        arquivo = '{}_{}-{}'.format(nome, begin_index, end_index)
        create_xlsx(dataframe[begin_index:end_index], arquivo)
        begin_index = end_index
        end_index += linhas   
    print('Rotina completa!')

In [63]:
#tirar o cerquilha do exemplo abaixo e executar
#separar_doc(acidentes, quantidade_docs=3, nome='base_acidentes')